<table class ="table" border="1">
  <thead>
    <tr>
      <th>Tempo Gasto</th>
      <th>Status</th>
      <th>Projeto</th>
      <th>Método</th>
      <th colspan="2"> Opções</th>
    </tr>
  </thead>

  <tbody>
    <% @executions.each do |execution| %>
      <tr>
        <td><%=execution.status.eql?("Pending") ? "Processando" : Time.at(execution.timespent).utc.strftime("%H:%M:%S") %></td>
        <td><%= execution.status %></td>
        <td><%= link_to execution.project.name,project_path(execution.project.id) %></td>
        <td><%= execution.method %></td>
        <td><%= button_to 'Mostrar', project_execution_path(execution.project, execution), class: "btn btn-default", method: :get %></td>
        <td><%= button_to 'Deletar', project_execution_path(execution.project, execution), method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
  <%= will_paginate @executions, class: "flickr_pagination" %>
</div>
<br>