<%= form_for([@project, @execution]) do |f| %>
  <% if @execution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@execution.errors.count, "error") %> prohibited this execution from being saved:</h2>

      <ul>
      <% @execution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%=label '', "Técnica de Seleção de Características"%><br>
    <%=f.select :method, options_for_select(['Filter Method', 'Wrapper Method', 'Relief-F']),{}, {data: {remote: true, url: url_for(controller: :executions, action: :set_method_description)}, class: 'btn btn-default'}%>
  </div>
  <div class="form-group">
    <%=label '', "Nome da Classe Objetivo"%><br>
    <%=f.text_field :class_name, class: 'btn btn-default'%>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
    <%= link_to 'Voltar', project_path(params[:project_id]), class: "btn btn-default" %>
  </div>
<% end %>

