<p id="notice"><%= notice %></p>

<p>
  <strong>Timespent:</strong>
  <%= @execution.status.eql?("Pending") ? "Processando" : Time.at(@execution.timespent).utc.strftime("%H:%M:%S")%>
</p>

<p>
  <strong>Status:</strong>
  <%= @execution.status %>
</p>

<p>
  <strong>Project:</strong>
  <%= @execution.project.name %>
</p>

<p>
  <strong>Características Selecionadas</strong>
  <%= @execution.selected_features.nil? ? "Processando" : @execution.selected_features %>
</p>

<p>
  <strong>Acuracia</strong>
  <%= @execution.status.eql?("Pending") ? "Processando" : @execution.acuracy %>
</p>
<%= link_to 'Edit', edit_project_execution_path(@execution.project, @execution) %> |
<%= link_to 'Back', project_executions_path %>
