<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name%><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description%><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :attachment, "Arquivo .arff .csv"%>
    <%= f.file_field :attachment %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-success" %>
    <%= link_to 'Voltar', projects_path, method: :get, class: "btn btn-primary col-md-offset-8" %>
  </div>
<% end %>
