<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Arquivo:</strong>
  <%= link_to "Download Arquivo", @project.attachment_url %>
</p>

<%=render partial: "/executions/executions_list", locals: {:executions => @executions}%>

<%= link_to 'Executar Projeto', new_project_execution_path(:project_id => @project.id) %> |
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
