<header>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">F-select</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar">
	      <%if user_signed_in?%>
	        <li>
	        	<%= link_to "Projetos", projects_path%>
	        </li>
	      <%end%>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	      	<li id="notifications">
		      	<%if user_signed_in?%>
		        	<%=render partial: '/home/notification'%>
		        <%end%>
	        </li>
	        <li>
	        	<%if user_signed_in?%>
	        		<%=link_to "Logout", destroy_user_session_path, :method => :delete%>
	        	<%else%>
	        		<%=link_to "Login", new_user_session_path%>
	        	<%end%>
	        </li>
	        <%if !user_signed_in?%>
	        <li>
	        	<%= link_to "Registrar", new_user_registration_path%>
	        </li>
	        <%end%>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
</header>
