<!DOCTYPE html>
<html>
<head>
  <title>FeatureSelection</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%=render partial: "layouts/header"%>
	<%if(flash[:warning]) %>
		<div class="alert alert-danger" role="alert">
			<strong><%=flash[:warning]%></strong>
		</div>
	<%end%>
	<%if(flash[:notice]) %>
		<div class="alert alert-success" role="alert">
			<strong><%=flash[:notice]%></strong>
		</div>
	<%end%>
<div class="container">
	<%= yield %>
</div>
<%=render partial: "layouts/footer"%>
</body>
</html>
